/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 自己寫的 */
.wrap {
    width: 100%;
}

.menuBar {
    /* 給高度是為了讓align-items作用 */
    height: 40px;
    display: flex;
    /* 使menu在最底(左->右) */
    justify-content: flex-end;
    /* 使menu的文字垂直置中 */
    align-items: center;
    background-color: #f6f6f6;
}

.menuBar li {
    margin: 2px 0px;
    padding: 0px 10px;
}

.menuBar .line {
    border-right: 2px solid #000;
}

.menuBar li a {
    /* 去除底線 */
    text-decoration: none;
    /* 粗體 */
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}

.menuBar .facebook {
    color: #4460a0;
}

.menuBar .twitter {
    color: #00aaec;
}

.nav {
    display: flex;
    /* 使logo跟nav一左一右 */
    justify-content: space-between;
    align-items: center;
}

.nav h1 a {
    background-image: url(img/logo.png);
    /* 需查看logo大小，因為a連結要當button用 */
    width: 170px;
    height: 36px;
    /* 將a連結的字，故意用超過 */
    text-indent: 101%;
    /* 超過的字將「隱藏」 */
    overflow: hidden;
    display: block;
    white-space: nowrap;
    margin-left: 8px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 10px 5px;
    padding: 5px 5px 10px 10px;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #00cc99;
    font-weight: bold;
}

.nav li:hover {
    border-bottom: 3px solid #00cc99;
}

.banner {
    height: 418px;
    width: 100%;
    background-image: url(img/banner.png);
    background-size: 100%;
    position: relative;
}

.title {
    position: absolute;
    background: rgba(161, 157, 157, 0.2);
    width: 97.3%;
    color: #FFF;
    font-size: 30px;
    padding: 40px 25px;
    top: 125px;
}

.title h3 {
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 22px;
    padding: 0 300px;
}

.content .col {
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
    padding: 25px;
}

.content .col h2 {
    margin: 15px 0px;
    font-size: 20px;
    font-weight: bold;
}

.content .col p {
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}

.list {
    list-style: circle;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}

.Difference_table {
    margin: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 300px;
}

.Difference_table h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}

.Difference_table table {
    width: 100%;
    /* 才不會每格的左右兩邊都有線 */
    border-collapse: collapse;
    border-spacing: 0;
}

.price th, .price td {
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
    font-weight: bold;
}

.price th {
    background-color: #f7f7f7;
}

.mark {
    color: #50BA9A;
}

.askMe {
    margin: 22px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #00654c 0%, #009771 100%);
    padding: 30px 30px 50px 30px;
}

.askMe h2 {
    padding: 20px 0px;
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    line-height: 30px;
}

.askMe form {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.askMe form textarea {
    /* 不能拖移 */
    resize: none;
    /* 固定大小 */
    width: 450px;
    height: 250px;
}

.askMe form .member_content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.member_content label {
    margin: 20px 0 5px 0;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

.inputText {
    width: 460px;
    height: 35px;
}
.submit_button{
    position: relative;
    padding-bottom: 30px;
}
.submit{
    width: 66px;
    height: 36px;
    background-color: #00cc99;
    color: #FFF;
    font-size: 20px;
    border: 0px;
    border-radius: 8%;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer{
    display: flex;
    /* 使logo跟nav一左一右 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.footer h1 a{
    background-image: url(img/footer.png);
    /* 需查看logo大小，因為a連結要當button用 */
    width: 170px;
    height: 36px;
    /* 將a連結的字，故意用超過 */
    text-indent: 101%;
    /* 超過的字將「隱藏」 */
    overflow: hidden;
    display: block;
    white-space: nowrap;
    margin-left: 8px;
}
.footer li{
    line-height: 30px;
    font-size: 20px;
}
.footer li a{
    color: #e54991;
}
/* 運用yahoo套件 */
.pure-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-success {
    color: white;
    border: 3px solid rgb(189, 161, 216);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    /* this is a green */
}

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 點選後 */
.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}